In [4]:
import pandas as pd
import os

# Directory containing CSV files
directory = r'filepath'

# List to store DataFrames
dfs = []

# Loop through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Read the CSV file and append it to the list of DataFrames
        df = pd.read_csv(os.path.join(directory, filename))
        dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Now you have a single DataFrame containing all data from the CSV files

C:\Users\pegam\AppData\Local\Temp\ipykernel_37488\430409368.py:14: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(directory, filename))
C:\Users\pegam\AppData\Local\Temp\ipykernel_37488\430409368.py:14: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(directory, filename))
C:\Users\pegam\AppData\Local\Temp\ipykernel_37488\430409368.py:14: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(directory, filename))
C:\Users\pegam\AppData\Local\Temp\ipykernel_37488\430409368.py:14: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(directory, filename))
C:\Users\pegam\AppData\Local\Temp\ipykernel_37488\430409368.py:14: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(directory, filename))
C:\Users\pegam\AppData\Local\Temp\ipykernel_37488\430409368.py:14: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(directory, filename))
C:\Users\pegam\AppData\Local\Temp\ipykernel_37488\430409368.py:14: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(directory, filename))
C:\Users\pegam\AppData\Local\Temp\ipykernel_37488\430409368.py:14: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(directory, filename))
C:\Users\pegam\AppData\Local\Temp\ipykernel_37488\430409368.py:14: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(directory, filename))
C:\Users\pegam\AppData\Local\Temp\ipykernel_37488\430409368.py:14: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(directory, filename))

In [5]:
#check df was created
combined_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member

In [6]:
#get the shape
combined_df.shape

(10000000, 13)

In [7]:
#get a count of variables
combined_df.count()

ride_id               10000000
rideable_type         10000000
started_at            10000000
ended_at              10000000
start_station_name     9999968
start_station_id       9999968
end_station_name       9963671
end_station_id         9963671
start_lat             10000000
start_lng             10000000
end_lat                9981790
end_lng                9981790
member_casual         10000000
dtype: int64

In [8]:
# Count how many rows are missing values
missing_rideable = combined_df["rideable_type"].isnull().sum()
missing_station = combined_df["start_station_id"].isnull().sum()
missing_member_casual= combined_df["member_casual"].isnull().sum()
missing_ride_id = combined_df["ride_id"].isnull().sum()

# Create summary table of the missing values 
print(f"There are {missing_rideable} missing rideable values.")
print(f"There are {missing_station} missing station values.")
print(f"There are {missing_member_casual} missing member casual values.")
print(f"There are {missing_ride_id} missing ride id values.")

There are 0 missing rideable values.
There are 32 missing station values.
There are 0 missing member casual values.
There are 0 missing ride id values.

In [9]:
#check data types
combined_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

Data Clean-Up

In [10]:
#drop null values and any duplicates
clean_df = combined_df.dropna()
clean_df = combined_df.drop_duplicates()

In [11]:
#get a count
clean_df.count()

ride_id               10000000
rideable_type         10000000
started_at            10000000
ended_at              10000000
start_station_name     9999968
start_station_id       9999968
end_station_name       9963671
end_station_id         9963671
start_lat             10000000
start_lng             10000000
end_lat                9981790
end_lng                9981790
member_casual         10000000
dtype: int64

In [12]:
#see final result
clean_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member

In [13]:
# #export to csv to use in tableu

# clean_df.to_csv('2022_full_bike_data', index=False)

In [23]:
import pandas as pd

# Sample 10,000 rows randomly
sample_df = clean_df.sample(n=10000, random_state=42)  # Set a random state for reproducibility

# Export the sampled data to a CSV file
sample_df.to_csv('sampled_data.csv', index=False)